<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iTunesLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <iTunesLib.Properties.Settings>
            <setting name="LibraryXMLFileName" serializeAs="String">
                <value>Library.xml</value>
            </setting>
            <setting name="LogFileName" serializeAs="String">
                <value>Log.txt</value>
            </setting>
            <setting name="LibrarySchemaFileName" serializeAs="String">
                <value>LibraryDataSet.xsd</value>
            </setting>
        </iTunesLib.Properties.Settings>
    </applicationSettings>
</configuration>